head 
    link(rel="stylesheet", href="/styles.css")
    meta(name="viewport" content="width=device-width, initial-scale=1.0")
body#login_body 
        h2#login_h2 Welcome to
            span#login_logo  communIIITy 
        a(href="/auth/google")#login_a Sign In
